{
  "branches": ["main", { "name": "beta", "prerelease": true }],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./bin/update_manifest_version.sh ${nextRelease.version} && ./bin/update_issue_templates.sh ${nextRelease.version}",
        "publishCmd": "yarn concurrently \"yarn build:chrome && yarn package:chrome\" \"yarn build:firefox && yarn package:firefox\""
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [".github/ISSUE_TEMPLATE/bug_report_template.yml", "src/manifest.common.json", "package.json", "CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["dist/*.zip"],
        "releasedLabels": ["🚀 released"]
      }
    ]
  ]
}
